::ng-deep body{
    padding-left: 25%;
    padding-right: 25%;
  }
.container{
    align-items: center;
}


@media screen and (max-width: 480px) {

    body{
      padding: 0%;
      margin: 0%;
    }
    mat-toolbar{
      width: 100%;
    }
    h2,h3{
        font-size: 15px;
        padding: 0%;
        margin: 0%;
    }
    
    p,h4{
        font-size: smaller;
        p{
            width: 300px;
        }
    }
    table{
        font-size: 10px;
        padding-left: 0%;
        padding-right: 0%;
    }
    
  
  }