<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/app-logo.png" alt="" width="50px">
    <h1 style="margin-left: 10px;">Covid-19 Test Record | Frontliners </h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

       <div class="container">
        <p style="font-size: medium;text-align: center">To track your Covid 19 Status enter your CID below</p>
        <form [formGroup]="verifyForm">
            <mat-form-field class="justifier">
                <mat-label>Enter CID</mat-label>
                <input matInput type="number"  name="cid" formControlName="cidControl" required required min="11" autofocus>
              </mat-form-field>
        </form>
        <button mat-raised-button (click)="chechValidity()"  [disabled]="!verifyForm.valid" >
            <mat-icon>fact_check</mat-icon> Check Status 
          </button>
       </div>

       <div *ngIf = "showCertificates">
          <div>
              <mat-card>
                <p>Name: {{subjectName}}</p>
                <p>CID : {{subjectCID}}</p>
                <p>Age: {{subjectAge}}</p>
                <p>Working Agency: {{workAgency}}</p>
              </mat-card>
            </div>
          <table class="table" >
              <thead>
                  <tr>
                    <th>Sl no</th>
                    <th>Test Place</th>
                    <th>RT-PCR Test</th>
                    <th>Antigen Test</th>
                    <th>Antibody Test</th>
                    <th>Date of Test</th>
                    <th>Next Test Date</th>
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody style="text-align: left;">
                  <tr *ngFor="let certificate of certificates; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{certificate.place}}</td>
                      <td>{{certificate.result_RTPCR}}</td>
                      <td>{{certificate.result_AG}}</td>
                      <td>{{certificate.result_AB}}</td>
                      <td>{{certificate.test_date | date: 'mediumDate'}}</td>
                      <td>{{certificate.exp_date | date: 'mediumDate'}}</td>
                      <td>{{certificate.status}}</td>
                      <hr>
                  </tr>
              </tbody>
            </table>
       </div>