<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="back button" (click)="back()" *ngIf="isUserLoggedIn">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <img src="../assets/app-logo.png" alt="" width="50px">
      <h1 style="margin-left: 10px;">Covid Test Record | Frontliners </h1>
      <span class="menu-spacer"></span>
      <button mat-icon-button (click)="logout()" *ngIf="isUserLoggedIn">
        <mat-icon>settings_power</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <br>
    <img src="../../assets/vial.svg" alt="" width="220rem">
    <br>
    <h1>
        Sample ID: {{sample_id}}
    </h1>
    <h4>
        This is a uniquely generated Sample id
    </h4>

    <br>
    <br>
    <button mat-raised-button routerLink="/navigate" color= "primary" style="width: 150px; height: 50px;"> <mat-icon>rotate_left</mat-icon> Back</button>
</div>