<div>
  
  
 
</div>

<div style="display: flex; flex-direction: row; width: 100%; justify-content: center;align-items: center;">
  <div style="float: left;width: 30%;">
      <table>
        <tr>
          <td id="r">Total Frontliners</td><td>{{totalFrontliners}}</td>
        </tr>
        <tr>
          <td id="r"> Total Male</td><td>{{frontlinerMale}}</td>
        </tr>
        <tr>
          <td id="r">Total Female</td><td>{{frontlinerFemale}}</td>
        </tr>
        <tr>
          
        </tr>
        <tr>
          <td id="r">Total Tests</td><td>{{totalTests}}</td>
        </tr>
        <tr>
          <td id="r">Males Tested</td><td>{{totalMalesTested}}</td>
        </tr>
        <tr>
          <td id="r">Females Tested</td><td>{{totalFemalesTested}}</td>
        </tr>
      </table>
</div>

<div style="float: right; width: 70%;">
  <canvas id="frontLinersByAgency" width="600px" height="400px"> </canvas>
</div>
    
</div>
<br>

<div style="display: flex; flex-direction: row; width: 100%;">
    <div style="float: left;width: 30%;">
      <canvas id="myChart" height="250px"></canvas>
    </div>

    <div style="float: right; width: 70%;">
      <canvas id="dailyTestLineChart" height="200px"> </canvas>
    </div>
</div>



    
  