 
.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}




table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius:6px;
  -moz-border-radius:6px;
}

td, th {
font-weight: bolder;
border: 1px solid #ddd;
padding: 8px;
color: rgb(102,102,102);
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

#r {
font-size: larger;
font-weight: lighter;
border-top-left-radius: 9px ;
border-bottom-left-radius: 9px;
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: rgb(78,115,223);
color: white;
}