<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="back button" (click)="back()" *ngIf="isUserLoggedIn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <img src="../assets/app-logo.png" alt="" width="50px">
    <h1 style="margin-left: 10px;">Covid Test Record | Frontliners </h1>
    <span class="menu-spacer"></span>
    <button mat-icon-button (click)="logout()" *ngIf="isUserLoggedIn">
      <mat-icon>settings_power</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<br>
<div style="display: flex;align-items: center;justify-content: center;">
    <button mat-button routerLink="/navigate"> <mat-icon>rotate_left</mat-icon> Back</button>
    <br>
    <button mat-button (click)="exportToExcel()"> <mat-icon>download</mat-icon> Download as xlsx</button>
</div>

<br>
<h4>Operator ID: {{tests[0].operator_id}}</h4>
<table #testTable id="test-table"style = "width:100%;">
    <tr>
      <th>Sl no.</th>
      <th>Sample ID</th>
      <th>Name</th>
      <th>CID</th>
      <th>Contact</th>
      <th>RT-PCR</th>
      <th>Antigen</th>
      <th>Antibody</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <tr *ngFor = "let test of tests; let i = index">
        <td>{{i+1}}</td>
        <td>{{test.sample_id}}</td>
        <td>{{test.Subject.name}}</td>
        <td>{{test.Subject.cid}}</td>
        <td>{{test.Subject.contact}}</td>
        <td>{{test.test_RTPCR}}</td>
        <td>{{test.test_AG}}</td>
        <td>{{test.test_AB}}</td>
        <td>{{test.test_date | date: 'mediumDate'}}</td>
        <td>{{test.status}}</td>
    </tr>
  </table>
