   
<div style="display: flex; flex-direction: row;">
    
    <div style="float: left;border: 1px solid #A9AABC; border-radius: 8px;padding:2rem; ;box-shadow: 2px 2px #A9AABC;">
      <h1  class="h3 mb-4 text-gray-800" style="font-weight: lighter;">Total Frontliners Registered</h1>
      <h2 style="text-align: center;font-size: 6rem; font-weight: bolder;color:#0097B2;">{{totalFrontliners}}</h2>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: space-between;">
      <div style="margin-left:3rem; padding:2rem;  border: 1px solid #A9AABC; border-radius: 8px;padding: 10px;box-shadow: 2px 2px #A9AABC; align-items: center;">
        <h3 class="h3 mb-4 text-gray-800" style="font-weight: lighter;white-space: nowrap;">Males Registered</h3>
        <h2 style="text-align: center;font-size: 5rem; font-weight: bolder;color:#0097B2;">{{frontlinerMale}}</h2>    
      </div>
      <br>
  
      <div style="margin-left:3rem; padding:2rem;  border: 1px solid #A9AABC; border-radius: 8px;padding: 10px;box-shadow: 2px 2px #A9AABC; align-items: center;">   
        <h3 class="h3 mb-4 text-gray-800"  style="font-weight: lighter; width: fit-content; white-space: nowrap;">Female Registered</h3>
        <h2 style="text-align: center;font-size: 5rem; font-weight: bolder;color:#0097B2;">{{frontlinerFemale}}</h2>  
      </div>
    </div>

    <div style="float: right; width: 80%;">
      <canvas id="testByAgencyBarChart" width="600px" height="150px"> </canvas>
    </div>
</div>
<br>
<br>
<div style="display: flex; flex-direction: row;">
  <div style="float: left;width: 20%;">
      <canvas id="frontlinersByDzongkhag" width="150px" height="150px"></canvas>
  </div>
  </div>

    <!-- <canvas id="testByDzongkhagBarChart" width="600px" height="150px"> </canvas> -->

    <!-- <p style="color: gray; font-weight: lighter;">Sort by clicking on the table header</p>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
     
        <ng-container matColumnDef="slNo">
          <th mat-header-cell *matHeaderCellDef >Sl-No </th>
          <td mat-cell *matCellDef="let test"> {{test.sample_id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let test"> {{test.name}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex </th>
          <td mat-cell *matCellDef="let test"> {{test.sex}} </td>
        </ng-container>
      
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef > Age </th>
          <td mat-cell *matCellDef="let test"> {{test.age}} </td>
        </ng-container>
    
         <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef >Contact</th>
          <td mat-cell *matCellDef="let test"> {{test.contact}} </td>
        </ng-container>

        <ng-container matColumnDef="work_zone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Zone</th>
        <td mat-cell *matCellDef="let test"> {{test.work_zone}} </td>
        </ng-container>
    
        <ng-container matColumnDef="work_agency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Agency </th>
        <td mat-cell *matCellDef="let test"> {{test.work_agency}} </td>
        </ng-container>
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->