
<mat-tab-group>
  <!-- <mat-tab label="Sort by Work Place">
   <div style="display: flex; flex-direction: row;">
    <div style="float: left; width: 50%;">
      <form [formGroup]="filterDataForm" style="width: 80%;">
        <mat-form-field class="justifier">
          <mat-label>Dzongkhag/Thromde</mat-label>
          <mat-select name="workDzongkhag"  formControlName="workDzongkhagControl" (selectionChange)="getZones($event.value)">
            <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id" >
              {{dzongkhag.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="justifier" >
          <mat-label>Zone/Gewog</mat-label>
          <mat-select name="zone"  formControlName="zoneControl">
            <mat-option *ngFor="let zone of zones" [value]="zone.id" >
              {{zone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-flat-button color="primary"  (click) ="sortByDzongkhag()" style="margin-right: 2rem;">Get Data</button>
      <button mat-flat-button color="primary" (click)="exportToExcelDzongkhag()"> Download Excel</button>
    </div>

    <div style="float: right; width: 50%; margin-top: 1rem;">
       
      <p>Total Number: {{totalCount}}</p>
      <p>Total Male: {{totalMale}}</p>
      <p>Total Female: {{totalFemale}}</p>
    </div>
   </div>
    
   
  </mat-tab> -->

  <mat-tab label="Sort by Work Agency">
   
    <div style="display: flex; flex-direction: row;">
      <div style="float: left; width: 50%;">
        <form [formGroup]="filterDataForm" style="width: 80%;">
          <mat-form-field class="justifier">
            <mat-label>Agency</mat-label>
            <mat-select name="agencyCategory" formControlName= "agencyCategoryControl"  (selectionChange)="getAgencies($event.value)">
              <mat-option *ngFor="let agencyCategory of agencyCategories" [value]="agencyCategory.id"  >
                {{agencyCategory.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="justifier">
            <mat-label>Sub Agency</mat-label>
            <mat-select name="agency" formControlName= "agencyControl"  >
              <mat-option *ngFor="let agency of agencies" [value]="agency.id">
                {{agency.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          </form>
          <button mat-flat-button color="primary" (click) ="sortByAgency()" style="margin-right: 2rem;">Get Data</button>
          <button mat-flat-button color="primary" (click)="exportToExcelAgency()" style="margin-right: 2rem;"> Download Excel</button>
          <button mat-mini-fab color="primary" (click)="clear()">
            <mat-icon>cached</mat-icon>
          </button>
         
      </div>

      <div style="float: right; width: 50%; margin-top: 1rem;">
        <p>Total Number: {{totalCount}}</p>
        <p>Total Male: {{totalMale}}</p>
        <p>Total Female: {{totalFemale}}</p>
      </div>
    </div>
  
   </mat-tab>
</mat-tab-group>





<br>
<table #testTable id="test-table"style = "width:100%;" *ngIf="showTable">
    <tr>
      <th>Sl No.</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>CID</th>
      <th>Contact</th>
    </tr>
    <tr *ngFor = "let subject of dataSource; let i = index">
        <td>{{i+1}}</td>
        <td>{{subject.name}}</td>
        <td>{{subject.sex}}</td>
        <td>{{subject.age}}</td>
        <td>{{subject.cid}}</td>
        <td>{{subject.contact}}</td>
    </tr>
  </table>
