

#test-table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#test-table td, #test-table th {
border: 1px solid #ddd;
padding: 8px;
}

#test-table tr:nth-child(even){background-color: #f2f2f2;}

#test-table tr:hover {background-color: #ddd;}

#test-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: gray;
color: white;
}
  
.search {
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &_field {
      width: 250px;
      margin: 0 8px 16px 8px;
    }
  }
  &__table {
    margin: 0 18px 18px 18px;
  }
}
form{
  width: 30%;
}

.mat-flat-button{
  width: 30%;
}