<div id="modal-content-wrapper">
    <header id="modal-header">
      
    </header>
    <section id="modal-body">   
        <h3>Set Result to: {{testRes}}</h3>    

        <h4 style="color: red;font-weight: lighter;"> warning - Test result can't be changed once set and the subject will be notifited by SMS</h4>
    </section>
    <footer id="modal-footer">
        Are you sure?
        <button mat-raised-button id="modal-action-button" (click)="yes()">
            Yes
        </button>

        <button mat-raised-button id="modal-cancel-button" (click)="no()">
            No
        </button>
    </footer>
</div>