<div  id="totalTestTable">
    <form [formGroup]="searchForm" class="search__form">
        <mat-form-field  class="search__form_field" appearance="outline">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          
        <mat-form-field class="search__form_field" appearance="outline">
          <mat-label>Filter by Working Agency</mat-label>
          <input type="text"
                 aria-label="Departure station"
                 matInput
                 formControlName="agencyControl"
                 (keyup)="applyFilter()"
          >
        </mat-form-field>
    
        <mat-form-field class="search__form_field" appearance="outline">
          <mat-label>Filter by date</mat-label>
          <input matInput
                 formControlName="dateControl"
                 [matDatepicker]="picker"
                 (dateInput)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>

<!-- <table class="table table-bordered" id="test-table">
    <tr>
      <th>Sl no.</th>
      <th>Sample ID</th>
      <th>Name</th>
      <th>CID</th>
      <th>RT-PCR Test</th>
      <th>Antigen Test</th>
      <th>Antibody Test</th>
      <th>Test Date</th>
      <th>Next Test </th>
      <th>Status</th>
    </tr>
    <tr *ngFor = "let test of tests; let i = index">
        <td>{{i+1}}</td>
        <td>{{test.id}}</td>
        <td>{{test.Subject.name}}</td>
        <td>{{test.Subject.cid}}</td>
        <td>{{test.result_RTPCR || test.status}}</td>
        <td>{{test.result_AG || test.status}}</td>
        <td>{{test.result_AB || test.status}}</td>
        <td>{{test.test_date | date: 'mediumDate'}}</td>
        <td>{{test.exp_date | date: 'mediumDate'}}</td>
        <td>{{test.status}}</td>
    </tr>
  </table>
</div> -->



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="slNo">
      <th mat-header-cell *matHeaderCellDef >Sl-No </th>
      <td mat-cell *matCellDef="let test"> {{test.sample_id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="sample_id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> sample_id </th>
      <td mat-cell *matCellDef="let test"> {{test.sample_id}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Subject.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
      <td mat-cell *matCellDef="let test"> {{test.Subject.name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Subject.cid">
      <th mat-header-cell *matHeaderCellDef > CID </th>
      <td mat-cell *matCellDef="let test"> {{test.Subject.cid}} </td>
    </ng-container>

     <ng-container matColumnDef="Subject.work_agency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Work-Agency </th>
      <td mat-cell *matCellDef="let test"> {{test.Subject.work_agency}} </td>
    </ng-container>
    <ng-container matColumnDef="test_RTPCR">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> RT- PCR </th>
    <td mat-cell *matCellDef="let test"> {{test.result_RTPCR || test.status}} </td>
    </ng-container>

    <ng-container matColumnDef="test_AG">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Antigen Test </th>
    <td mat-cell *matCellDef="let test"> {{test.result_AG || test.status}} </td>
    </ng-container>

    <ng-container matColumnDef="test_AB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Antibody Test </th>
        <td mat-cell *matCellDef="let test"> {{test.result_AB || test.status}} </td>
    </ng-container>
  
    <ng-container matColumnDef="test_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Date</th>
        <td mat-cell *matCellDef="let test"> {{test.test_date | date: 'mediumDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="exp_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Test</th>
        <td mat-cell *matCellDef="let test"> {{test.exp_date | date: 'mediumDate' }} </td>
    </ng-container>
         
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>