<div class="centerContainer">
    
  <div>
    <h2>Royal Government of Bhutan</h2>  
  </div>

    <h3>Covid 19 Test Report</h3>

    <div> sample ID: {{sample_id}}</div>
    <!-- <ngx-qrcode
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="value"
      cssClass="bshadow">
    </ngx-qrcode> -->
    <qrcode [qrdata]="value" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

    <div style="display: flex; flex-direction: row;">
      <button mat-raised-button routerLink= "/navigate" >
        Completed
      </button>
      <button mat-raised-button (click)="ShareQr()" >
        ShareQR
      </button>
    </div>

</div>

