<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="../assets/app-logo.png" alt="" width="50px">
      <h1 style="margin-left: 10px;">Covid Test Record | Frontliners </h1>
      <span class="menu-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
    
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <br>
      <br>
      <br>
      <br>
      <h1>
         Thank You for registering!!
      </h1>
      <h4>
          Stay Safe
      </h4>
  
      <br>
      <br>
      <button mat-raised-button routerLink="/login" color= "primary" style="width: 150px; height: 50px;"> <mat-icon>rotate_left</mat-icon> Back</button>
  </div>