<mat-toolbar style="align-items: center; justify-content: center;">
  <h3 style="text-align: center;">Covid 19 Test Verification</h3>
  <span class="menu-spacer"></span>

  <button mat-button routerLink="/navigate"> <mat-icon>rotate_left</mat-icon> Back</button>
</mat-toolbar>
<div style="display: flex; flex-direction: column"> 
   
       <button mat-flat-button (click)="triggerCamera()"> <mat-icon>qr_code</mat-icon><h3 >Verify by QR</h3></button>
     <br>
       <button mat-flat-button [routerLink]="['/verify']" (click)="VerifyByCid()"> <mat-icon>fact_check</mat-icon>  <h3>Verify by CID</h3></button>

       <div>
        <form [formGroup]="verifyForm">
            <mat-form-field class="justifier">
                <mat-label>Enter CID</mat-label>
                <input matInput type="number"  name="cid" formControlName="cidControl" required required min="11" autofocus>
              </mat-form-field>
        </form>
        <button mat-raised-button (click)="chechValidity()"  [disabled]="!verifyForm.valid">
            <mat-icon>fact_check</mat-icon> Check Status 
          </button>
          <button mat-raised-button (click)="generateCertificate()"  [disabled]="!verifyForm.valid">
            <mat-icon>fact_check</mat-icon> Generate Certificate
          </button>
       </div>

       <div *ngIf = "showCertificates">

          <div>
              <mat-card>
                <p>Name: {{subjectName}}</p>
                <p>CID : {{subjectCID}}</p>
                <p>Age: {{subjectAge}}</p>
                <p>Working Agency: {{workAgency}}</p>
              </mat-card>
            </div>
          <table class="table" >
              <thead>
                  <tr>
                    <th>Test ID</th>
                    <th>Subject ID</th>
                    <th>Test Place</th>
                    <th>Test Type</th>
                    <th>Test Result</th>
                    <th>Date of Test</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody style="text-align: left;">
                  <tr *ngFor="let certificate of certificates">
                      <td>{{certificate.id}}</td>
                      <td>{{certificate.subject_id}}</td>
                      <td>{{certificate.place}}</td>
                      <td>{{certificate.test_type}}</td>
                      <td>{{certificate.test_result || certificate.status}}</td>
                      <td>{{certificate.test_date | date: 'mediumDate'}}</td>
                      <td>{{certificate.exp_date | date: 'mediumDate'}}</td>
                      <td>{{certificate.status}}</td>

                      <hr>
                  </tr>
              
              </tbody>
            </table>
       </div>
  
</div>