<div style="display: flex; flex-direction: column"> 
    <h3 style="text-align: center;">Covid 19 Test Verification</h3>
    
       <button mat-flat-button [routerLink]="['/generateQr']"> <mat-icon>qr_code</mat-icon><h3 >Verify by QR</h3></button>
     <br>
       <button mat-flat-button [routerLink]="['/verify']" (click)="VerifyByCid()"> <mat-icon>fact_check</mat-icon>  <h3>Verify by CID</h3></button>

       <div *ngIf='showVerifyByCid'>
        <form [formGroup]="verifyForm">
            <mat-form-field class="justifier">
                <mat-label>Enter CID</mat-label>
                <input matInput type="number"  name="cid" formControlName="cid" required autofocus>
                
              </mat-form-field>
        </form>
        <button mat-raised-button (click)="chechValidity()"  [disabled]="!verifyForm.valid">
            <mat-icon>fact_check</mat-icon> Check Status
          </button>

       </div>
   
  
</div>