<mat-toolbar>
    <span>Enter Record</span>
    <span class="menu-spacer"></span>

    <button mat-button routerLink="/navigate"> <mat-icon>rotate_left</mat-icon> Back</button>
  </mat-toolbar>

      <div class="form-body">
           
            <form [formGroup]="registerSubjectForm">
                <mat-form-field class="justifier">
                    <mat-label>CID</mat-label>
                    <input matInput type="text" name="cid" formControlName="cidControl" (input)="changeDiff($event)" required min="11" required autofocus>
                  </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="nameControl"   required min="0" required autofocus>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Gender</mat-label>
                <mat-select name="sex"  formControlName="sexControl" >
                  <mat-option *ngFor="let sex of genders" [value]="sex.name" >
                    {{sex.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Age</mat-label>
                <input matInput type="text" name="age" formControlName="ageControl"   required min="0" required autofocus>
              </mat-form-field>
              
              <mat-form-field class="justifier">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number" name="phoneNumber" formControlName="phoneNumberControl"  required min="0" required autofocus>
              </mat-form-field>
              
              <p style="font-weight: bolder; font-size: small;">Current Station of Work</p>
              <mat-form-field class="justifier">
                <mat-label>Dzongkhag/Thromde</mat-label>
                <mat-select name="workDzongkhag"  formControlName="workDzongkhagControl" >
                  <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id" >
                    {{dzongkhag.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Category</mat-label>
                <mat-select name="agencyCategory" formControlName= "agencyCategoryControl"  (selectionChange)="getAgencies($event.value)">
                  <mat-option *ngFor="let agencyCategory of agencyCategories" [value]="agencyCategory.id"  >
                    {{agencyCategory.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Agency</mat-label>
                <mat-select name="agency" formControlName= "agencyControl"  >
                  <mat-option *ngFor="let agency of agencies" [value]="agency.id">
                    {{agency.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Agency Remarks</mat-label>
                <input matInput type="text" name="agencyRemark"   formControlName= "agencyRemarkControl" autofocus>
              </mat-form-field>

              <!-- <p style="font-weight: bolder; font-size: small;">Current Station of Residence</p>
              <mat-form-field class="justifier">
                <mat-label>Dzongkhag/Thromde</mat-label>
                <mat-select name="residenceDzongkhag" formControlName= "residenceDzongkhagControl"  (selectionChange)="getZones($event.value)" >
                  <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id" >
                    {{dzongkhag.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>        
              <mat-form-field class="justifier">
                <mat-label>Station Zone *for Thromdes</mat-label>
                <mat-select name="residenceZone" formControlName ="residenceZoneControl" >
                  <mat-option *ngFor="let zone of zones" [value]="zone.name">
                    {{zone.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Name of Accomodation</mat-label>
                <input matInput type="text" name="residenceAccomodation" formControlName="residenceAccomodationControl"   required min="0" required autofocus>
              </mat-form-field> -->


              <p style="font-weight: bolder; font-size: small;">Test Details</p>
              <mat-form-field class="justifier">
                <mat-label>Sample ID</mat-label>
                <input matInput type="text" name="sampleId" formControlName="sampleIdControl"  required autofocus>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Type of Test</mat-label>
                <mat-select name="testType" formControlName="testTypeControl" >
                  <mat-option *ngFor="let testType of testTypes" [value]="testType.name">
                    {{testType.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>             
              <mat-form-field appearance="fill" class="justifier">
                <mat-label>Date of Testing</mat-label>
                <input matInput [matDatepicker]="dp3" disabled name="testDate" formControlName ="testDateControl">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>place of Testing</mat-label>
                <input matInput type="text" name="testPlace" formControlName="testPlaceControl"  required autofocus>
              </mat-form-field>
      </form>

      <div class="form-footer">
        <button mat-flat-button  color= "warn" class="btn custom-btn" (click)="submit()"[disabled] ="!registerSubjectForm.valid">
          <mat-icon>note_add</mat-icon> Submit
        </button>
      </div>
  <!-- End of Resident Form--> 
      </div>

  