<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/app-logo.png" alt="" width="50px">
    <h1 style="margin-left: 10px;">Covid-19 Test Record | Frontliners </h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<button mat-raised-button routerLink ="/navigate" style="margin-bottom: 6px;"> Go back</button>
<button mat-raised-button  (click)="downloadImage()" style="margin-bottom: 6px;">Download Certificate</button>

<!-- <div class="btn btn-primary" >Download Test Certificate</div> -->

<div #screen class="centerContainer" id="centerContainer" >

<div style="display: flex; flex-direction: row; justify-content: space-between;">
    
    <img src="../../assets/app-logo.png" alt="" style="float:left; height: 16%; width: 16%;">
    <h2 style="float:left;text-align: center; width: 60%; margin-top: 6%;">
        Royal Government of Bhutan <br>
   
        <h3>Covid 19 Test Report</h3>
   </h2>
   <img src="../../assets/bhutan.png" alt=""  style="float: right; height: 16%;width: 16%;">
</div>
<br>
      <p style="text-align: right; width: 95%;">Date:{{todayDate | date: 'mediumDate'}}</p>
    <br>

      <div id="qrConatainer" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div id = "leftbox" >
            <div id="details">
                <p>Name: {{subjectName}}</p>
                <p>CID : {{subjectCid}}</p>
                <p>Age: {{subjectAge}}</p>
                <p>Gender: {{subjectGender}}</p>
                <p>Working Agency: {{subjectWorkingAgency}}</p>
            </div>   
      </div>
   
      <div id="rightbox">
            <qrcode [qrdata]="value" [width]="130" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      </div>

    <h4>Test Details</h4>
      
    <table class="table" >
        <thead>
            <tr>
              <th>Test ID</th>
              <th>Test Place</th>
              <th>RT-PCR</th>
              <th>Antigen </th>
              <th>Antibody</th>
              <th>Date of Test</th>
            </tr>
        </thead>
        <tbody style="text-align: left;">
            <tr *ngFor="let certificate of certificates">
                <td>{{certificate.id}}</td>
                <td>{{certificate.place}}</td>
                <td>{{certificate.result_RTPCR || certificate.status}}</td>
                <td>{{certificate.result_AG || certificate.status}}</td>
                <td>{{certificate.result_AB || certificate.status}}</td>
                <td>{{certificate.test_date | date: 'mediumDate'}}</td>
                <hr>
            </tr>
        
        </tbody>
      </table>
     
      
      <br>
      <div  id="footer" >
        <img class= "footer-images" src="../../assets/1.png" alt=""  style="float:left;" >
        <img class= "footer-images" src="../../assets/2.png" alt="" style="float: left;width: 20%;margin-left: 20%;">
        <img class= "footer-images" src="../../assets/3.png" alt=""  style="float: right;">
      </div>
      
<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>
      
  </div>

 
  