<!-- 
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="../assets/app-logo.png" alt="" width="50px">
      <h1 style="margin-left: 10px;">Frontliners| Registration </h1>
      <span class="menu-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-toolbar>
      <span>Enter Details</span>
      <span class="menu-spacer"></span>
    </mat-toolbar>
  
        <div class="form-body">
             
              <form [formGroup]="frontlinerRegistrationForm">
                  <mat-form-field class="justifier">
                      <mat-label>CID/ Work Permit No</mat-label>
                      <input matInput type="text" name="cid" formControlName="cidControl" (input)="changeDiff($event)"  required autofocus>
                    </mat-form-field>
                <mat-form-field class="justifier">
  
                  <mat-label>Name</mat-label>
                  <input matInput type="text" name="name" formControlName="nameControl"   required min="0" required autofocus>
                </mat-form-field>
                <mat-form-field class="justifier">
                  <mat-label>Gender</mat-label>
                  <mat-select name="sex"  formControlName="sexControl" >
                    <mat-option *ngFor="let sex of genders" [value]="sex.name" >
                      {{sex.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="justifier">
                  <mat-label>Age</mat-label>
                  <input matInput type="text" name="age" formControlName="ageControl"   required min="0" required autofocus>
                </mat-form-field>
                
                <mat-form-field class="justifier">
                  <mat-label>Phone Number</mat-label>
                  <input matInput type="number" name="phoneNumber" formControlName="phoneNumberControl"  required min="0" required autofocus>
                </mat-form-field>
                
                <p style="font-weight: bolder; font-size: small;">Current Deployment Status</p>
                <p style="font-weight: lighter;">For Dessups in Thimphu Thromde please select <b>Thimphu Thromde</b> for Dzongkhag/Thromde and <b>De-suung</b> for Zone </p>
                <mat-form-field class="justifier">
                  <mat-label>Dzongkhag/Thromde</mat-label>
                  <mat-select name="workDzongkhag"  formControlName="workDzongkhagControl" (selectionChange)="getZones($event.value)">
                    <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id" >
                      {{dzongkhag.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
  
                <mat-form-field class="justifier">
                  <mat-label>Zone/Gewog</mat-label>
                  <mat-select name="zone"  formControlName="zoneControl" (selectionChange)="dessung($event.value)" >
                    <mat-option *ngFor="let zone of zones" [value]="zone.id" >
                      {{zone.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <p style="font-weight: lighter;">For Dessups in Thimphu Thromde please select Agency as <b>De-suung</b> and your respective super zone. Leave the super zone blank if not assigned to any superzone</p>
                <mat-form-field class="justifier">
                  <mat-label>Agency</mat-label>
                  <mat-select name="agencyCategory" formControlName= "agencyCategoryControl"  (selectionChange)="getAgencies($event.value)">
                    <mat-option *ngFor="let agencyCategory of agencyCategories" [value]="agencyCategory.id"  >
                      {{agencyCategory.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="justifier">
                  <mat-label>{{subAgency}}</mat-label>
                  <mat-select name="agency" formControlName= "agencyControl"  >
                    <mat-option *ngFor="let agency of agencies" [value]="agency.id">
                      {{agency.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="justifier">
                  <mat-label>Remarks/Shop Name</mat-label>
                  <input matInput type="text" name="agencyRemark"   formControlName= "agencyRemarkControl" autofocus>
                </mat-form-field>
  
               
        </form>
  
        <div class="form-footer">
          <button mat-flat-button  color= "warn" class="btn custom-btn" (click)="submit()"[disabled] ="!frontlinerRegistrationForm.valid">
            <mat-icon>note_add</mat-icon> Submit
          </button>
        </div>
        </div>
  
     -->